<a href="https://colab.research.google.com/github/roger-jms/bootcamp-CDP/blob/main/analise_inicial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
# Manipulação de dados
import pandas as pd
import matplotlib.pyplot as plt
from pandas import read_csv
import seaborn as sns

In [14]:
#Pré Processamento
from sklearn.preprocessing import MinMaxScaler
from pandas import read_csv
from sklearn.model_selection import train_test_split

In [15]:
#Máquinas Preditivas
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score 

import warnings
warnings.filterwarnings('ignore')

In [16]:
arquivo = ('/content/drive/MyDrive/CDP_dados/diabetes.csv')
colunas = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']

In [17]:
dados = pd.read_csv(arquivo, names = colunas)
print(dados.shape)

(769, 9)

In [18]:
# Visualizando as primeiras 20 linhas
dados.head()

,preg,plas,pres,skin,test,mass,pedi,age,class
0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,6,148,72,35,0,33.6,0.627,50,1
2,1,85,66,29,0,26.6,0.351,31,0
3,8,183,64,0,0,23.3,0.672,32,1
4,1,89,66,23,94,28.1,0.167,21,0

In [19]:
dados.shape

(769, 9)

In [20]:
dados.dtypes

preg     object
plas     object
pres     object
skin     object
test     object
mass     object
pedi     object
age      object
class    object
dtype: object

In [21]:
dados.describe()

       preg plas pres skin test mass   pedi  age class
count   769  769  769  769  769  769    769  769   769
unique   18  137   48   52  187  249    518   53     3
top       1  100   70    0    0   32  0.254   22     0
freq    135   17   57  227  374   13      6   72   500

In [22]:
# Distribuição das classes
dados.groupby('class').size()

class
0          500
1          268
Outcome      1
dtype: int64

In [23]:
# Correlação de Pearson
dados.corr(method = 'pearson')

Empty DataFrame
Columns: []
Index: []

In [24]:
# Verificando o skew de cada atributo
dados.skew()

Series([], dtype: float64)